<!DOCTYPE html>
<html xmlns:th="http://www.thyemleaf.org">
<head th:include="layout/custheader :: custheader"/>
<head>
<link rel="stylesheet" th:href="@{/css/customstyle4mainpages.css}" />

</head>
<body>
	<div class="container">
		<div th:include="layout/custnavbar :: custnavbar"></div>

		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">

					<div class="alert alert-danger alert-dismissable"
						th:if="${msgType != 'success' and msgType != null}" role="alert">
						<button type="button" class="close" data-dismiss="alert"
							aria-lable="Close">
							<span aria-hidden="true">X</span>
						</button>
						<p th:text="${msg}">Something goes wrong!</p>
					</div>
					<div class="alert alert-success alert-dismissable"
						th:if="${msgType}=='success'" role="alert">
						<button type="button" class="close" data-dismiss="alert"
							aria-lable="Close">
							<span aria-hidden="true">X</span>
						</button>
						<p th:text="${msg}">Post uploaded successfully!</p>
					</div>

					<div class="text-center">
						<h2>Posting page</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<form th:action="@{/upload}" th:object="${userpost}" th:method="post"
					class="form-horizontal" id="uploadform" name="uploadform">
					<input type="hidden" th:field="*{id}" />
					<div class="form-group">
						<label for="category" th:text="'Category'"
							class="col-sm-3 control-label"></label>
						<div class="col-sm-7 input-group">
								<select id="category" class="form-control selectpicker"
								name="category" th:field="*{catigory}" style="width: 90%; margin-left: 2%;" ></select>
								<span class="input-group-btn" style="float: left">
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
									  <span class="glyphicon glyphicon-plus" style="height: 20px"></span>
									</button>
								</span>
						</div>
					</div>
					<div class="form-group">
						<label for="postTitle" th:text="'Title'"
							class="col-sm-3 control-label"></label>
						<div class="col-sm-7">
							<input id="postTitle" name="postTitle" th:field="*{title}"
								type="text" class="form-control" />
						</div>

					</div>
					<div class="form-group">
						<label for="shortDesc" th:text="'Short Description'"
							class="col-sm-3 control-label"></label>
						<div class="col-sm-7">
							<textarea class="form-control" id="shortDesc" rows="3" th:field="*{shortWords}" name="shortDesc"></textarea>
						</div>

					</div>
					<div class="form-group">
						<label for="postUrl" th:text="'URL'"
							class="col-sm-3 control-label"></label>
						<div class="col-sm-7">
							<input id="postUrl" name="postUrl" th:field="*{url}"
								type="url" class="form-control" />
						</div>

					</div>
					<div class="form-group">
						<label for="fullDesc" th:text="'Full Description'"
							class="col-sm-3 control-label"></label>
						<div class="col-sm-7">
							<textarea class="form-control" id="fullDesc" rows="5" th:field="*{description}" name="fullDesc"></textarea>
						</div>

					</div>
					
					<div class="form-group">
						<label class="col-sm-3 control-label"></label>
						<div class="col-sm-7">
							<input id="postsubmitbtn" type="submit"
								value="Upload" class="btn btn-primary" />
						</div>
					</div>
				</form>
			</div>
		</div>
		<footer th:replace="layout/footer :: footer"></footer>

	</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="alert_successmsg" class="alert alert-success" style="display: none;">Category is Added</div>
		<div id="alert_errormsg" class="alert alert-danger" style="display: none;">Error! Category is not Added</div>
		<div class="form-group">
			<label for="category_name" th:text="'Category'" class="col-sm-2 control-label"></label>
			<div class="col-sm-8">
				<input id="category_name" name="category_name" type="text" class="form-control" />
			</div>
			<input id="categorySubmit" type="button" value="Save" class="btn btn-primary" />
		</div>
      </div>
      
    </div>
  </div>
</div>

</body>
</html>
<script type="text/javascript">
<!--

//-->
$().ready(function(){
	function validateCategory(category){
		return category.length>2
	}
	$('#categorySubmit').click(function(){
// 		debugger;
		var catValue=$('#category_name').val();
		var isValidCategory=validateCategory(catValue);
		if(isValidCategory){
			$.ajax({
				type : 'POST',
				url : '/post/saveCategory',
				dataType: 'json',
				data : JSON.stringify({
					category_name: catValue
				}),
				success : function(data){
					alert('Data is saved:'+data.isCategorySaved);
				},
				error : function(ts){
					alert("error"+ts.responseText);
				}
			});
		}
	});
});
</script>


