<!DOCTYPE html>
<html xmlns:th="http://www.thyemleaf.org">
<head th:include="layout/custheader :: custheader" />
<head>
<link rel="stylesheet" th:href="@{/css/customstyle4mainpages.css}" />
<style type="text/css">
</style>
</head>
<body>
	<div class="container">
		<div th:include="layout/custnavbar :: custnavbar"></div>

		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="row">post view</div>
			<footer th:replace="layout/footer :: footer"></footer>

		</div>
	</div>
</body>
</html>